<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>หน้าปัจจุบัน</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="bluegree">


  <ion-list (click)="gotoDetail(i)">
    <ion-item *ngFor="let i of items" >
      <ion-thumbnail slot="start">
        <img [src]="i.imageUrl" alt="">
      </ion-thumbnail>
      <ion-label>
        {{ i.name }} <br>
       ราคา {{ i.price }}
      </ion-label>
    </ion-item>

  </ion-list>


</ion-content>
