<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>หน้าปัจจุบัน</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>


  <ion-list>
    <ion-card >
    <ion-item *ngFor="let i of items" >
      <ion-thumbnail slot="start">
        <img [src]="i.imageUrl" alt="">
      </ion-thumbnail>

      <ion-label>
        {{ i.name }} <br>
       ราคา {{ i.price }}

      </ion-label>
      <ion-button  slot="end" color="danger" (click)="confirmDelete('i')" size="medium" with="100">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-item>







  </ion-card>
  </ion-list>
</ion-content>
